

$altoCarusel : 60vh;
$altoImagen:4vh;


$altoBoton :10vh;
$anchoBoton:4vh;
$colorBoton: #ffcc00;

$tamanoImgValida: 50%;

$colorCondiciones : #48ae96;
$imgCodigo : 7%;
.valida{
    img{
        margin-top: $altoImagen;
    }
}
.carusel{
    height: $altoCarusel;
    .carousel{
        overflow: visible;
        height: $altoCarusel;
        width: 100%;
        .carousel-item{
            img{
                margin-top: $altoImagen; 
                width: 100%;
            }
        } 
    }
     
}
.carousel-fixed-item{
    a{
        width: 100%;
        height: $anchoBoton;
        background-color: $colorBoton;
    }
    
}
.botonCarousel{
    height: $altoBoton;
    background-color: $colorBoton
}
.numeroTelefonico{
    label{
        font-size: .8rem;
    }
}

#condiciones{
    color: $colorCondiciones;    
}
.reloj{
    p{
        display: inline-block;
    }
    img{
        width: $imgCodigo;    
    }
}
.bienvenida{
    img{
        margin-top: 35vh;
    }
    background-color: $colorBoton;
}


        #logo{
            width: $tamanoImgValida  
        }
          
  
